body{
    background-color: #eaeaea;
    font-family: 'Montserrat', sans-serif;

}
.conteiner{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 40px;
}
.header__top ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.header__top li{
    padding-left: 23px;
    margin-left: 22px;
    position: relative;
}
.header__top li::before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: #494949;
    display: block;
    position: absolute;
    left: 0;
}
.header__top li:first-child::before{
    display: none;
}
.header__top li:first-child{
    padding-left: 0px;
    margin-left: 0px;
}
.header__top a{
    text-decoration: none;
    color: #494949;
}

.header__mid{
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    padding-top: 260px;
    padding-bottom: 285px;
}
.title{
    font-size: 50px;
    margin-bottom: 23px;
}
.header__mid__info__text{
    font-size: 25px;
    line-height: 30px;
    max-width: 570px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24px;
}
.pizza{
  position: absolute;
    right: 0;
    top: -230px;
}
/*.header__mid__flex{
    display: flex;
    justify-content: space-between;
}*/
.btn{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border: 2px #ffffff solid;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 190px;
    text-align: center;
}
.btn a{
    text-decoration: none;
    color: #ffffff;
}
.center{
    display: flex;
    justify-content: center;
}

.h2{
    font-size: 45px;
    color: #282828;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-right: 127px;
    padding-left: 127px;
    margin-top: 124px;
    margin-bottom: 0;
}
.h2::before, .h2::after{
    content: '';
    position: absolute;
    background-image: url(../img/dec.png);
    display: block;
    width: 102px;
    height: 28px;
    top: calc(50% - 14px);
}
.h2::before{
    left: 0;
}
.h2::after{
    right: 0;
}
.page__p{
    text-align: center;
    font-size: 20px;
    color: #959595;
    font-family: 'Roboto', sans-serif;
}
.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-top: 42px;
    margin-bottom: 65px;
}
.menu li{
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
}
.menu li:first-child::before{
    display: none;
}
.menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: #494848;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
}
.menu li::before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: #494949;
    display: block;
    position: absolute;
    left: 0;
}
a.active{
    border-bottom: 4px solid #ee352d;
    position: relative;
}
a.active::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #ee352d;
}
.box{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.number{
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    color: #282828;
}
.number::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
}
.number__1::after{
    background-image: url(../img/logo1.png);
    width: 126px;
    height: 71px;
    left: 69px;
    top: calc(50% - 35px);
}
.number__2::after{
    background-image: url(../img/logo2.png);
    width: 184px;
    height: 81px;
    left: 88px;
    top: calc(50% - 40px);
}
.number__3::after{
    background-image: url(../img/logo3.png);
    width: 142px;
    height: 68px;
    left: 94px;
    top: calc(50% - 34px);    
}
.box__text h3{
    font-size: 45px;
    color: #282828;
    margin-bottom: 23px;
}
.box__text{
    border-right: 1px solid #aeaeae;
    padding-right: 55px;
}
.box__item:last-child .box__text{
    border-right: none;
}
.box__item{
    padding: 64px 0 68px 55px;
    box-sizing: content-box;
}
.box__text p{
    font-size: 17px;
    color: #282828;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    margin-top: 0;
}
.btn__item{
    text-align: center;
    margin-bottom: 130px;
}
.btn__item a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 31px 59px;
    
}
.footer{
    background-image: url(../img/footer.png);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}